

body {
    background-color: #f1f1f1;
    font-family: HelveticaNeueRegular, HelveticaNeue-Regular, "Helvetica Neue Regular", HelveticaNeue, "Helvetica Neue", Helvetica, Arial;
    color: #0d8cdb;
}

h1 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 1.7em;
    color: #1d3557;
}

h2 {
    font-size: 1.4em;
    color: #1d3557;
}

h3 {
    font-size: 1.2em;
    color: #1d3557;
}

h4 {
    font-size: 1em;
    color: #1d3557;
}

.gr {
    color: green;
}

.rd {
    color: red;
}

.buttons {
    padding: 5px;
}

#connected_ap_label, #connected_ap {
    display: inline;
}

#ip_address_label, #netmask_label, #gateway_label {
    display: inline;
}

#wifi_connect_ip, #wifi_connect_netmask, #wifi_connect_gateway {
    display: inline;
}

#connected_ap, #wifi_connect_ip, #wifi_connect_netmask {
    color: #1d3557;
}

/* Default style for all buttons */
input[type="button"] {
    font-size: 16px;
    border: 0;
    line-height: 2;
    padding: 0 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
    background-color: #388E3C; /* Green for Connect */
    cursor: pointer;
}

/* Hover effect for Connect button */
#connect_wifi:hover {
    background-color: #4CAF50;
}

/* Style for Disconnect button */
#disconnect_wifi {
    background-color: #D32F2F; /* Red */
    /* initially hidden, will come when connection is established */
    display: none;
}

/* Hover effect for Disconnect button */
#disconnect_wifi:hover {
    background-color: #F44336; /* Brighter red */
}

.show-password-label {
    font-family: 'Segoe UI', sans-serif; /* Change to any preferred font */
    font-size: 12px;
    color: #2E7D32; /* A rich green shade */
    margin-left: 2px;
    cursor: pointer;
}

.show-password-label input[type="checkbox"] {
    margin-right: 5px;
}
